<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="dbserverip" value="192.168.12.8"/>
      <add key="port" value="5432"/>
      <add key="dbname" value="SMS_DB"/>
      <add key="userid" value="smartwatch"/>
      <add key="password" value="smartwatch"/>
    </appSettings>
    
</configuration>