<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="moss_AP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
 
   
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="dbserverip" value="10.131.165.196" />
    <add key="port" value="5432" />
    <add key="dbname" value="moss_db" />
    <add key="userid" value="smartwatch" />
    <add key="password" value="smartwatch" />
    <!--\\10.81.205.110\サービスデリバリ事業部\50.リモート運用サービス部\50_SMARTWATCH監視G\監視Gr管理（OP-G読み取り専用）\05_サービス管理システム\従来ツール参考資料\オーブコム\月報\月間運用予定表_完全自動版3.xls-->
    <add key="orbcomm_path" value="C:\Users\PC-USER\Desktop\月間運用予定表_完全自動版3.xls" />
    <add key="sound_path" value="標準サウンド.wav" />
    <add key="mailsender_address" value="cs-kanshi@dm.nesic.com" />
    
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>